# Ignore Visual Studio temporary files, build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/

# Supabase CLI
supabase/.temp/
supabase/.branches/
.env
# Config chua key that (chi de local)
appsettings.Development.json
appsettings.*.local.json
